version: 2.1

orbs:
  yarn: artsy/yarn@6.5.0
  auto: artsy/auto@2.2.0

workflows:
  build:
    jobs:
      - yarn/workflow-queue:
          filters:
            branches:
              only: main
      - auto/publish-canary:
          context: npm-deploy
          filters:
            branches:
              ignore: main
      - auto/publish:
          context: npm-deploy
          filters:
            branches:
              only: main
          requires:
            - yarn/workflow-queue
